.feedback {
    width: 100vw;
    background: linear-gradient(258.44deg, #2F2B6C 41.15%, #7C4886 100%);

    @media (min-width: 768px) and (max-width: 1280px) {
        background: url("../img/desktop-feedback-bg.png") center no-repeat, linear-gradient(242.34deg, #2F2B6C 41.15%, #7C4886 100%);
        background-size: cover;
    }

    @media (min-width: 1280px) {
        background: url("../img/desktop-feedback-bg.png") center no-repeat, linear-gradient(242.34deg, #2F2B6C 41.15%, #7C4886 100%);
        background-size: cover;
    }
}

.feedback__container {
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding: 40px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 768px) and (max-width: 1280px) {
        width: 768px;
        padding-top: 60px;
        padding-right: 50px;
        padding-bottom: 90px;
        padding-left: 50px;
        background-size: cover;
    }

    @media (min-width: 1280px) {
        width: 1280px;
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 90px;
        padding-left: 40px;
    }

    @media (min-width: 1400px) {
        width: 1400px;
        padding-top: 70px;
        padding-right: 30px;
        padding-bottom: 90px;
        padding-left: 70px;
    }
}

.feedback__header {
    @include font-family-pn ("PN-black", 32px, $font-color-main);
    margin: 0;
    margin-bottom: 45px;
    padding-left: 30px;

    @media (min-width: 768px) {
        width: 640px;
        font-size: 64px;
        margin-bottom: 85px;
        padding-left: 0px;
    }

    @media (min-width: 1280px) {
        width: 690px;
        padding-left: 30px;
        font-size: 64px;
        margin-bottom: 85px;
    }

    @media (min-width: 1400px) {
        width: 740px;
        padding-left: 60px;
        font-size: 64px;
        margin-bottom: 85px;
    }
}

.feedback__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    width: 1800px;


    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }

    @media (min-width: 1280px) {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.feedback__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    padding: 30px 0 0 30px;
    margin-right: 30px;
    
    

    @media (min-width: 768px) {
        width: 290px;
        display: flex;
        margin-right: 90px;
    }

    @media (min-width: 1280px) {
        width: 290px;
        display: flex;
        margin-right: 160px;
    }

    &::after {
        display: block;
        position: absolute;
        content: "";
        display: block;
        width: 287px;
        height: 275px;
        top: 0px;
        left: 0px;
        background: url("../img/feedback-border.png") center no-repeat;
    }
}



.feedback__name {
    @include font-family-pn ("PN-extrabold", 22px, $font-color-main);
    order: 2;
    margin: 0;
    margin-bottom: 5px;

    @media (min-width: 1280px) {
        
    }
}

.feedback__img {
    order: 1;
    margin-bottom: 21px;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.2);
}

.feedback__info {
    @include font-family-pn ("PN-semibold", 14px, $font-color-orange);
    order: 3;
    margin: 0;
    margin-bottom: 7px;
    min-height: 35px;
}

.feedback__card:nth-last-child(1) .feedback__info {
    @include font-family-pn ("PN-semibold", 14px, $font-color-orange);
    order: 3;
    margin: 0;
    margin-bottom: 7px;
    min-height: 17px;
}


.feedback__desc-short {
    @include font-family-pn ("PN-regular", 13px, $font-color-main);
    order: 4;
    line-height: 17px;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 5px;
    min-height: 68px;
}

.feedback__desc-btn {
    @include font-family-pn ("PN-semibold", 14px, $font-color-main);
    order: 5;
    position: relative;
    border: none;
    background: none;
    width: 74px;
    text-align: left;
    height: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.feedback__desc-btn:hover {
    opacity: 0.8;
}

.feedback__desc-btn:active {
    opacity: 0.6;
}

.feedback__desc-btn span {
    position: absolute;
    top: 0;
    left: 0;
}


.feedback__btn-right-left-wrapper {
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 70px;
    right: 50px;
    bottom: 20px;

    @media (min-width: 768px) {
        display: flex;
        right: 30px;
        top: 120px;
     }

    @media (min-width: 1280px) {
        right: 55px;
        top: 90px;
     }
}

.feedback__btn-left {
    cursor: pointer;
    outline: none;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    border-right: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    transform: rotate(135deg);

    &:hover {
        border-color: #FF5916;
    }

}

.feedback__btn-right {
    cursor: pointer;
    outline: none;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    border-right: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-45deg);

    &:hover {
        border-color: #FF5916;
    }
}

.feedback__list-wrapper {
        overflow: hidden;
        width: 320px;
    
        @media (min-width: 768px) {
            width: 670px;
        }
    
        @media (min-width: 1280px) {
            width: 1190px;
        }

        @media (min-width: 1400px) {
            width: 1220px;
            padding-left: 30px;
        }
}

#slider-switch-feedback {
    margin-top: 40px;
}