.feedback-popup {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.41);
    overflow-y: scroll;
    overflow-x: hidden;

    @media (min-width: 768px) {
        z-index: 10000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.41);
        overflow-y: scroll;
    }

    @media (min-width: 1280px) {
        z-index: 10000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.41);
        overflow-y: scroll;
    }
}

.feedback-popup__wrapper {
    background: white;
    width: 320px;
    margin-top: -80px;
    min-height: 685px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 20px 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    @media (min-width: 768px) {
        top: 200px;
        background: white;
        width: 748px;
        margin-top: -80px;
        min-height: 685px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 90px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
    }

    @media (min-width: 1280px) {
        top: 200px;
        background: white;
        width: 852px;
        margin-top: -80px;
        min-height: 685px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 100px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
    }
}

.feedback-popup__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 20px 0px 70px;
    display: flex;
    width: 3408px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    @media (min-width: 768px) {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 20px 0px 70px;
        display: flex;
        width: 3408px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

    @media (min-width: 1280px) {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 20px 0px 70px;
        display: flex;
        width: 3408px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }
}



.feedback-popup__img-wrapper {

    @media (min-width: 768px) {
        padding: 20px 0 0 20px;
        margin-right: 22px;
        background: linear-gradient(135deg, rgba(255, 89, 22, 0.1) 0%, rgba(255, 89, 22, 0) 100%);
    }
}

.feedback-popup__img {
    position: relative;

    @media (min-width: 768px) {
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.2);
    }
}

.feedback-popup__item {
    width: 280px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        width: 602px;
        margin-right: 250px;
        display: flex;
        flex-direction: column;    
    }

    @media (min-width: 1280px) {
        width: 602px;
        margin-right: 250px;
        display: flex;
        flex-direction: column;
    }
}

.feedback-popup__item--active {
    display: flex;
}

.feedback-popup__head-wrapper {
    z-index: 70000;
    position: relative;
    order: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    @media (min-width: 768px) {
        width: 360px;
        z-index: 70000;
        position: relative;
        order: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 25px;
    }
}

.feedback-popup__header {
    margin-top: 0px;
    @include font-family-pn ("PN-extrabold", 36px, $font-color-second);
    margin-bottom: 5px;

    @media (min-width: 768px) {
        margin-top: 60px;
        @include font-family-pn ("PN-extrabold", 36px, $font-color-second);
        margin-bottom: 5px;
    }
}

.feedback-popup__info-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
}

.feedback-popup__info {
    @include font-family-pn ("PN-semibold", 14px, $font-color-orange);
}



.feedback-popup__desc {
    order: 3;
    @include font-family-pn ("PN-regular", 18px, $font-color-second);
    line-height: 26px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
        order: 3;
       @include font-family-pn ("PN-regular", 18px, $font-color-second);
       line-height: 26px;
       margin-bottom: 40px;
    }

    @media (min-width: 1280px) {
        order: 3;
       @include font-family-pn ("PN-regular", 18px, $font-color-second);
       line-height: 26px;
       margin-bottom: 40px;
    }
}

.feedback-popup__btn-right-left-wrapper {

    display: none;
    @media (min-width: 768px) {
        z-index: 40000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 800px;
    left: -27px;
    top: 315px;
    }

    @media (min-width: 1280px) {
        z-index: 40000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    left: -74px;
    top: 315px;
    }
}

.feedback-popup__btn-left {
    cursor: pointer;
    outline:none;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    border-right: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    transform: rotate(135deg);
}

.feedback-popup__btn-right {
    cursor: pointer;
    outline:none;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    border-right: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-45deg);
}

.feedback-popup__close {
    cursor: pointer;
    position: absolute;
    z-index: 50000;
    top:0;
    right: 0;
    width: 45px;
    height: 45px;
    background: linear-gradient(289.75deg, #CC006F -21.27%, #5E00E5 58.55%);
    border: none;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 10px;
        left: 10px;
        background: url("../img/close-popup-form.svg");

        @media (min-width: 768px) {
            content: "";
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 26px;
            left: 26px;
            background: url("../img/close-popup-form.svg");
        }
    }

    @media (min-width: 768px) {
        cursor: pointer;
        position: absolute;
        z-index: 50000;
        top:0;
        right: 0;
        width: 80px;
        height: 80px;
        background: linear-gradient(289.75deg, #CC006F -21.27%, #5E00E5 58.55%);
        border: none;
    }
}

.feedback-popup__list-wrapper {
    width: 280px;
    position: absolute;
    overflow: hidden;

    @media (min-width: 768px) {
        width: 748px;
        position: absolute;
        top: -70px;
        overflow: hidden;
    }

    @media (min-width: 1280px) {
        width: 852px;
        position: absolute;
        top: -70px;
        overflow: hidden;
    }
}

#slider-switch-feedback-popup {
    z-index: 80000;
    align-self: flex-end;
}