.place {
    width: 100vw;

    @media (min-width: 768px) {
        z-index: 0;
        width: 368px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }

    @media (min-width: 1280px) {
        z-index: 0;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
    }
}

.place__header {
    @include font-family-pn ("PN-black", 32px, $font-color-second);
        margin: 0 auto;
        margin-bottom: 45px;
        margin-top: 20px;
        padding-left: 20px;
        width: 280px;

        @media (min-width: 768px) {
            display: none;
        }
    
        @media (min-width: 1280px) {
            display: none;
        }
}

.place__map {
    margin: 0 auto;
    filter: grayscale(100%);
    width: 100vw;
    height: 593px;

    @media (min-width: 768px) {
        width: 368px;
        height: 690px;
    }

    @media (min-width: 1280px) {
        width: 100vw;
        height: 872px;
    }
}